.chooseType{
    max-width: 45%;
    width: 50%;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex: 0 0 15%;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 19px;
    font-weight: 500;
}
.conversionType{
    max-width: 47%;
    
    width: 50%;
    margin: auto;   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 0 0 35%;
}
