buttons{
    top: 224px;
left: 385px;
width: 173px;
height: 137px;
background: #EDFDF9 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border: 1px solid #0EC098;
border-radius: 7px;
opacity: 1;
}
