#containerForData{
    display: flex;
    justify-content:space-around;  
    flex-direction: row;
    justify-items:center;
    align-items: center;
 }
 #Select {
    width: 15em;
    height: 15px;
    font-size: 15px;
    max-height: 15px;   
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E7DCFE;
    border-radius: 3px;
    opacity: 1;
    size: 15px;
 }
 #text{
    font-size: x-small;
    max-height: 100px;
    flex-direction: column;
    align-self: flex-end; 
    margin: 0;
 }
 .TextField{
    margin-top: 0;
    margin-bottom: 0;
    width: 14em;
 }
 #valuescontainer{
    display: flex;
    justify-content: space-between;  
    flex-direction: row;
    justify-items:center;
    align-items: center;
 }
 @media only screen and (max-width: 720px) {
    #containerForData{
        display: flex;
        justify-content:space-around;  
        flex-direction: row;
        justify-items:center;
        align-items: center;
     }
     #Select {
        width: 10.3em;
       
     }
     
     .TextField{
        width: 10em;
     }
  }
  @media only screen and (max-width: 480px) {
    #containerForData{
        display: flex;
        justify-content:space-around;  
        flex-direction: row;
        justify-items:center;
        align-items: center;
     }
     #Select {
        width: 7.2em;
       
     }
     
     .TextField{
        width: 7.5em;
     }
  }
  @media only screen and (max-width: 360px) {
    #containerForData{
        display: flex;
        justify-content:space-around;  
        flex-direction: row;
        justify-items:center;
        align-items: center;
     }
     #Select {
        width: 4.2em;
       
     }
     
     .TextField{
        width: 5em;
     }
  }